head{background-color: blue;}
    #redes{text-align: right;background-color: darkslategray;}
    #logo{width:auto;height:auto;}
body{background-color:#f5f5f5;background-image: url(Imagenes/transformaciones-goku.jpg);}

.principal_header{text-align: right;}
    #imgInstagram{width: 5%;height: 8%;padding-right: 2%;}
    #imgTwitter{width: 5%;height: 8%;padding-right: 2%;}
    #imgFacebook{width: 5%;height: 8%;padding-right: 2%;}
#MenuDiv{background-color: #2f353a;height: 200px; text-align: center;display: flex; justify-content: center; width: 100%;}
    #logo{width: auto; height: auto;padding-left: 10px;text-align: right;padding-right: 1000px; border: solid;}
    #botonesMenu{text-align: center;}
        #search{}


#contenido{border: 2px; width: 80%;display: flex; justify-content: center; width: 100%;}
    #lista{background-color:dimgray ; opacity: 95%; width: 20%; height: auto; padding-left: 2%;}
#Animes{background-color: blue;width: 60%; height: auto;}