head{background-color: blue;}
    #redes{text-align: right;background-color: darkslategray;}
    #logo{width:auto;height:auto;}
body{
    background-color:black;
    width: 100%;
    align-items: center;
    }
.principal_header{text-align: right;}
    #imgInstagram{width: 5vw;height: 5vw;padding-right: 2%;}
    #imgTwitter{width: 5vw;height: 5vw;padding-right: 2%;}
    #imgFacebook{width: 5vw;height: 5vw;padding-right: 2%;}    
    #MenuDiv{background-color: #2f353a; height: auto; display: flex; justify-content: center; width: 100%;}
    #logo{
        width: 5%; 
        height: auto;
        text-align: right;
        align-self: center;
        padding-left: 20%;
        padding-right: 10%;
        display: flex;
    }
    .nolink{
        text-decoration: none;
    }
        #botonMenu{
            display: flexbox;
            text-align: center;
            align-self: center;
            padding-right: 10%;
            width: auto;
            height: auto;
            color: white;
        }
        #Directorio{
            display: flexbox;
            text-align: center;
            padding-bottom: 10px;
            padding-left: 20%;
            padding-right: 10%;
            width: auto;
            height: auto;
            color: white;
        }
            .dropdown{ 
                display: inline-block; 
                position: relative;
                width: 10%;
                height: auto;
            }
            .dropdown-content {
                text-align: center;
                display: none;
                position: absolute;
                width: 30%;
                background-color: #2f353a;
                color: white;
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
            .dropdown-content a {
                display: block;
                color: #000000;
                padding: 5px;
                text-decoration: none;
            }
            .dropdown-content a:hover {
                color: #FFFFFF;
                background-color: #00A4BD;
            }
        #search{
        padding-left: 20%;
        width: auto;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2%;
        align-content: center;
    }
#contenido{border: 2px; width: 100%;display: flex; justify-content: center;}
    #lista{
        background-color:dimgray ; 
        opacity: 95%; 
        width: 20%;
        height: auto; 
        padding-left: 2%; 
        padding-right: 2%; 
        block-size: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-size: large;
        color: white ;

    }
    #Animes{width: auto; height: auto; padding-left: 5%;color: white;} 
        tr{border: 20px;}
